# CLion
.idea/
*.iml

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
build/
Makefile
cmake_install.cmake

# Binaries
*.o
*.obj
*.so
*.a
*.dylib
*.exe
*.out
*.app

# Backup and temporary files
*~
*.swp
*.tmp
*.log

# OS-specific
.DS_Store

# Python files (если вдруг используешь вместе с PyCharm)
__pycache__/
*.py[cod]